---
import Layout from "@/layouts/index.astro";

export const getStaticPaths = async () => {
  const apiUrl = `https://${import.meta.env.PUBLIC_NEWT_SPACE_UID}.cdn.newt.so/v1/blog/article`;
  const baseHeaders = {
    headers: { 'Authorization': `Bearer ${import.meta.env.PUBLIC_NEWT_TOKET}` },
  };

  const response = await fetch(apiUrl, baseHeaders);
  const data = await response.json();

  return data.items.map(item => {
    return {
      params: { id: item._id },
      props: { item } };
  });
}

const {item} = Astro.props;
---

<Layout title={item.title}>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="px-4 md:px-8 mx-auto">
    <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">{item.title}</h1>

    <main class="text-gray-500 sm:text-lg mb-6 md:mb-8" set:html={item.body} />
  </div>
</div>
</Layout>