---
import Layout from '@/layouts/index.astro';
import Article from '@/components/pages/posts/Article';

import dayjs from 'dayjs';
import ja from 'dayjs/locale/ja.js';
dayjs.locale(ja);

const apiUrl = `https://${import.meta.env.PUBLIC_NEWT_SPACE_UID}.cdn.newt.so/v1/blog/article`;
const baseHeaders = {
  headers: { 'Authorization': `Bearer ${import.meta.env.PUBLIC_NEWT_TOKET}` },
};

const response = await fetch(apiUrl, baseHeaders);
const data = await response.json();

---

<Layout title="Posts">
  <div class="mb-10 md:mb-16">
    <h1 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Posts</h1>
  </div>

  <div class="grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8 sm:gap-12 xl:gap-16">
    {data.items.map((item) => (
      <Article
        title={item.title}
        description={item.description}
        thumbnailUrl={item.coverImage.src}
        firstPublishedAt={dayjs(item._sys.raw.firstPublishedAt).format('YYYY/MM/DD')}
        url={`/posts/${item._id}`}
      />  
    ))}
  </div>
</Layout>